<h2 class="text-center">Zápis na termíny (zkouškové i zápočtové)</h2>

<div class="mt-4">
    <p>Student: {$studentDetails->first_name} {$studentDetails->surname}</p>
    <p>Osobní číslo: {$studentDetails->student_code}</p>
</div>

<hr/>

<h3 class="mt-4">Platné aktuálně vypsané termíny předmětů:</h3>

