<strong>Role: pedagog</strong>
<div class="mt-2">
    <p>
        <span n:foreach="$lecturerPreDegrees as $lecturerPreDegree">
            {$lecturerPreDegree->name}.
        </span>

        {$lecturerDetails->first_name} {$lecturerDetails->surname}

        <span n:foreach="$lecturerPostDegrees as $lecturerPostDegree">
            {$lecturerPostDegree->name}.
        </span>

    </p>
</div>
<h2 class="text-center">Správa zkouškových termínů</h2>


<div class="mt-5 row">
    <div class="col-sm-12">
        <h3>Vyučované předměty</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Zkratka předmětu</th>
                <th scope="col">Název</th>
                <th scope="col">Kredity</th>
                <th scope="col">Ukončení</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$courses as $course">
                <th scope="row">{$course->course_code}</th>
                <td>{$course->title}</td>
                <td>{$course->credits}</td>
                <td>{$course->classification}</td>
                <td>
                    <a href="{plink Lecturer:addExam $course->course_code, $course->title}">Vytvořit termín</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Avizované termíny zkoušek</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Zkratka předmětu</th>
                <th scope="col">Učebna</th>
                <th scope="col">Poznámka</th>
                <th scope="col">Termín</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$lecturerExams as $lecturerExam">
                {$lecturerExam->exam_id}
                <th scope="row">{$course->course_code}</th>
                <td>{$lecturerExam->room_code}</td>
                <td>{$lecturerExam->note}</td>
                <td>{$lecturerExam->exam_start_date}</td>
                <td>
                    <button class="btn btn-danger"><i class="fa fa-minus-circle"></i></button>
                    <a href="{plink :removeScheduledExam! $lecturerExam->exam_id}">Odstranit</a>
                    <button class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <hr>

    <div class="col-sm-12">
        <h3>Uskutečněné zkoušky / započty</h3>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Zkratka předmětu</th>
                <th scope="col">Učebna</th>
                <th scope="col">Poznámka</th>
                <th scope="col">Termín</th>
            </tr>
            </thead>
            <tbody>
               <tr n:foreach="$lecturerScheduledExams as $lecturerScheduledExam">
                   <th scope="row">{$lecturerScheduledExam->course_code}</th>
                   <td>{$lecturerScheduledExam->room_code}</td>
                   <td>{$lecturerScheduledExam->note}</td>
                   <td>{$lecturerScheduledExam->exam_start_date}</td>
                   <td><button class="btn btn-success">Udělit hodnocení</button></td>
               </tr>
            </tbody>
    </div>
</div>




