parameters:


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no


services:
	router: App\Router\RouterFactory::createRouter

	security.passwords: Nette\Security\Passwords(::PASSWORD_BCRYPT, [cost: 12])

	projectDetailRepository:
		class: App\Repositories\ProjectDetailRepository
	userRepository:
	    class: App\Infrastructure\Repositories\UserRepository
	studentRepository:
	    class: App\Repositories\StudentRepository

	passwordEncrypterService:
	    class: App\Services\PasswordEncrypter

	authenticator:
	    class: App\Services\Authenticator

	HeadercontrolFactory:
	    class: App\Components\Shared\Skeleton\Header\HeaderControlFactory
	GuestControlFactory:
	    class: App\Components\App\Guest\GuestControlFactory
	LecturerControFactory:
	    class:  App\Components\App\Lecturer\LecturerControlFactory
	StudentControlFactory:
	    class: App\Components\App\Student\StudentControlFactory
