{block content}

{if $user->isInRole('guest')}
	{control guestControl}
{/if}

{if $user->isInRole('pedagog')}
	{control lecturerControl}
{/if}

{if $user->isInRole('student')}
	{control studentControl}
{/if}




<script>
	$(function() {

		$('a ajax').on('click', function() {
			$.get(this.href);
			return false;
		});

	});
</script>
